.imgSetWrap {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  column-gap: 15px;
  row-gap: 15px;
  @media (max-width: 1023px) {
    grid-template-columns: repeat(2, 2fr);
  }
}

.deleteImg {
  cursor: pointer;
  text-align: center;
}
