.btn {
  font-size: 16px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 13px 25px;
  cursor: pointer;
  transition: 0.35s;
  &:hover {
    background-color: #4490cf;
  }
}
