.cardThumb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 10px;
  background: #f5f4fa;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.photo {
  max-width: 300px;
  max-height: 300px;
  margin-top: 5px;
}

.btnWrap {
  display: flex;
}

.btn:not(:last-child) {
  margin-right: 5px;
}

.heroName {
  font-size: 16px;
  font-weight: 700;

  color: #212121;
  margin-top: 5px;
}
